.thumbnail {
  width: 80px;
  height: 80px;

  border-radius: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0 auto; */
}
.thumbnail > img {
  max-height: 100%;
  max-width: 100%;
}
